= simple_form_for(@patient) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: 'Nombre'
    .row
      .col-md-4
        = f.input :age, label: 'Edad'
      .col-md-4
        = f.input :identification, label: 'Identificación'
      .col-md-4
        = f.input :modality, collection: [ "TAC", "RM"], label: 'Modalidad'
      -if current_user.role != "nurse"
        .col-md-4
          = f.input :qualitative_scale, collection: [ "No evaluable", "No es óptimo", "Aceptable", "Óptimo"], label: 'Escala cualitativa'

  .form-actions
    = f.button :submit, 'Crear paciente'
