= simple_form_for(@patient) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    .row
      .col-md-4
        = f.input :age
      .col-md-4
        = f.input :identification
      .col-md-4
        = f.input :modality, collection: [ "TAC", "RM"]
      -if current_user.role != "nurse"
        .col-md-4
          = f.input :qualitative_scale, collection: [ "No evaluable", "No es óptimo", "Aceptable", "Óptimo"]


    /= f.input :catheter
    /= f.input :caliber

  .form-actions
    = f.button :submit
