= simple_form_for(@patient) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    .row
      .col-md-4
        = f.input :age
      .col-md-4
        = f.input :identification
      .col-md-4
        = f.input :modality, collection: [ "TAC", "RM"]
    /= f.input :catheter
    /= f.input :caliber

  .form-actions
    = f.button :submit
