%h1 Listing patients
%td= current_user.role
%td= current_user.name


%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Age
      %th Identification
      %th Modality
      -if current_user.role != "radiologist"
        %th Catheter
        %th Caliber
      -if current_user.role != "nurse"
        %th qualitative_scale
        %th radiologist_name
      /%th
      /%th
      /%th

  %tbody
    - @patients.each do |patient|
      %tr
        %td= patient.name
        %td= patient.age
        %td= patient.identification
        %td= patient.modality
        -if current_user.role != "radiologist" 
          %td= patient.catheter
          %td= patient.caliber
        -if current_user.role != "nurse"
          %td= patient.qualitative_scale
          %td= patient.radiologist_name
        %td= link_to 'Show', patient
        %td= link_to 'Edit', edit_patient_path(patient)
        -if current_user.role == "admin" 
          %td= link_to 'Destroy', patient, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Patient', new_patient_path
