%h1 Listado de Pacientes
%td= current_user.role
%h2= current_user.name

-if current_user.role != "radiologist"
  %td= link_to 'Nuevo paciente', new_patient_path, class:  "btn btn-default"
%h4 &nbsp;
%table.table.table-bordered
  %thead
    %tr
      %th Nombre
      %th Edad
      %th Identificación
      %th Modalidad
      -if current_user.role != "radiologist"
        %th Catéter
        %th Calibre
        %th Número de Punciones
        %th Cambio de Catéter
      -if current_user.role != "nurse"
        %th Escala cualitativa
      /%th
      /%th
      /%th

  %tbody
    - @patients.each do |patient|
      %tr
        %td= patient.name
        %td= patient.age
        %td= patient.identification
        %td= patient.modality
        -if current_user.role != "radiologist" 
          %td= patient.catheter
          %td= patient.caliber
          %td= patient.number_punctures
          -if patient.catheter_exchange? 
            %td= "si"
          -else 
            %td= "no"
        -if current_user.role != "nurse"
          %td= patient.qualitative_scale
        %td= link_to 'Mostrar', patient
        %td= link_to 'Editar', edit_patient_path(patient)
        -if current_user.role == "admin" 
          %td= link_to 'Eliminar', patient, :method => :delete, :data => { :confirm => '¿Está seguro?' }

= paginate @patients
