%h1 Listado de Pacientes
%td= current_user.role

-if current_user.role != "nurse"
  = render 'filter'
  %h4 &nbsp;

-if current_user.role == "admin"
  %td= link_to "generar reporte cvs", patients_path(format: "csv"), class:  "btn btn-default"

-if current_user.role != "radiologist"
  %td= link_to 'Nuevo paciente', new_patient_path, class:  "btn btn-default"
%h4 &nbsp;

-if current_user.role == "admin"
  %p
    %b RM:
    = @patients.where(modality: "RM", catheter_exchange: false).total_count
    %b RM (CC,20G):
    = @patients.where(modality: "RM", catheter: "Catéter convencional", caliber: 20, catheter_exchange: false).total_count
    %b RM (CC,22G):
    = @patients.where(modality: "RM", catheter: "Catéter convencional", caliber: 22, catheter_exchange: false).total_count
    %b RM (NG,20G):
    = @patients.where(modality: "RM", catheter: "Nueva Generación", caliber: 20, catheter_exchange: false).total_count
    %b RM (NG,22G):
    = @patients.where(modality: "RM", catheter: "Nueva Generación", caliber: 22, catheter_exchange: false).total_count
    %b | RM (cambio catéter):
    = @patients.where(modality: "RM", catheter_exchange: true).total_count
  %p
    %b TAC:
    = @patients.where(modality: "TAC", catheter_exchange: false).total_count
    %b TAC (CC,18G):
    = @patients.where(modality: "TAC", catheter: "Catéter convencional", caliber: 18, catheter_exchange: false).total_count
    %b TAC (CC,20G):
    = @patients.where(modality: "TAC", catheter: "Catéter convencional", caliber: 20, catheter_exchange: false).total_count
    %b TAC (NG,20G):
    = @patients.where(modality: "TAC", catheter: "Nueva Generación", caliber: 20, catheter_exchange: false).total_count
    %b TAC (NG,22G):
    = @patients.where(modality: "TAC", catheter: "Nueva Generación", caliber: 22, catheter_exchange: false).total_count
    %b | TAC (cambio catéter):
    = @patients.where(modality: "TAC", catheter_exchange: true).total_count
  %h4 &nbsp;

%table.table.table-bordered
  %thead
    %tr
      %th Nombre
      %th Edad
      %th ID
      %th Modalidad
      -if current_user.role != "radiologist"
        %th Catéter
        %th Calibre
        %th Punciones
        %th Cambio Catéter
      -if current_user.role != "nurse"
        %th Escala cualitativa
      -if current_user.role == "admin"
        %th Check
      /%th
      /%th
      /%th

  %tbody
    - @patients.each do |patient|
      %tr
        %td= patient.name
        %td= patient.age
        %td= patient.identification
        %td= patient.modality
        -if current_user.role != "radiologist" 
          %td= patient.catheter
          %td= patient.caliber
          %td= patient.number_punctures
          -if patient.catheter_exchange? 
            %td= "si"
          -else 
            %td= "no"
        -if current_user.role != "nurse"
          %td= patient.qualitative_scale
        -if current_user.role == "admin"
          -if patient.complete_record? 
            %td= "si"
          -else 
            %td= "no"
        %td= link_to 'Mostrar', patient
        %td= link_to 'Editar', edit_patient_path(patient)
        -if current_user.role == "admin" 
          %td= link_to 'Eliminar', patient, :method => :delete, :data => { :confirm => '¿Está seguro?' }

= paginate @patients
