%p#notice= notice

%p
  %b Name:
  = @patient.name
%p
  %b Age:
  = @patient.age
%p
  %b Identification:
  = @patient.identification
%p
  %b Modality:
  = @patient.modality
-if current_user.role != "radiologist"
  %p
    %b Catheter:
    = @patient.catheter
  %p
    %b Caliber:
    = @patient.caliber
-if current_user.role != "nurse"
  %p
    %b qualitative_scale:
    = @patient.qualitative_scale
  %p
    %b radiologist_name:
    = @patient.radiologist_name

= link_to 'Edit', edit_patient_path(@patient)
\|
= link_to 'Back', patients_path
