%p#notice= notice

%p
  %b Nombre:
  = @patient.name
%p
  %b Edad:
  = @patient.age
%p
  %b Identificación:
  = @patient.identification
%p
  %b Modalidad:
  = @patient.modality
%p
  %b Fecha de atención:
  = @patient.created_at.strftime("%b %d, %Y")

-if current_user.role != "radiologist"
  %p
    %b Número de Punciones:
    = @patient.number_punctures
  %p
    %b Cambio de Catéter:
    -if @patient.catheter_exchange? 
      = "si"
    -else 
      = "no"
  %p
    %h2
      %b Catéter:
      = @patient.catheter
  %p
    %h2
      %b Calibre:
      = @patient.caliber

-if current_user.role != "nurse"
  %p
    %b Escala Cualitativa:
    = @patient.qualitative_scale

= link_to 'Editar', edit_patient_path(@patient)
\|
= link_to 'Átras', patients_path
